@font-face {
  font-family: 'kalendorius';
  src: url("../assets/fonts/kalendorius.eot?-8tcgq");
  src: url("../assets/fonts/kalendorius.eot?#iefix-8tcgq") format("embedded-opentype"), url("../assets/fonts/kalendorius.ttf?-8tcgq") format("truetype"), url("../assets/fonts/kalendorius.woff?-8tcgq") format("woff"), url("../assets/fonts/kalendorius.svg?-8tcgq#kalendorius") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'kalendorius';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-eye:before {
  content: "\f04e"; }

.icon-info:before {
  content: "\f059"; }

.icon-note:before {
  content: "\f011"; }

.icon-note {
  position: relative;
  top: -60px;
  right: -70px;
  width: 16px;
  color: #9598B1;
  font-size: 16px; }

.icon-three-bars:before {
  content: "\f05e"; }

html {
  background: #23242f;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Calibri", sans-serif; }

body {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 20px 10px;
  color: #16a7dc;
  font-family: 'Fira Mono', monospace;
  font-weight: 700; }

div {
  padding: 0;
  margin: 0; }

#monthContainer {
  margin: 0 auto;
  max-width: 700px;
  padding-bottom: 180px;
  -webkit-touch-callout: none;
  -webkit-user-select: none; }

.month {
  display: inline-block; }

.day {
  float: left;
  width: 13.5%;
  height: 100px;
  background: rgba(255, 255, 255, 0.7);
  color: #23242f;
  font-family: 'Fira Mono', monospace;
  font-weight: 700;
  transition: all 0.1s ease-in-out;
  border: 1px solid #b5b5b5; }
  .day:hover {
    background: rgba(217, 217, 217, 0.9); }

.day-number {
  display: block;
  padding-top: 35px;
  font-size: 28px;
  text-align: center;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none; }

.current {
  color: #16a7dc; }

.work {
  box-shadow: inset 0px -4px 0px #db4d4d; }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none; }

.menu-icon {
  position: relative;
  top: 20px;
  left: 10px;
  padding: 10px;
  background: #181820;
  color: #9598B1;
  z-index: 90; }
  .menu-icon:hover {
    background: #1b1b24;
    color: #787b9b; }

.menu-list {
  position: relative;
  top: -25px;
  left: 10px;
  z-index: 0;
  padding: 40px 35px;
  background: #181820;
  line-height: 1.5;
  list-style-type: none;
  border-radius: 4px; }
  .menu-list a {
    color: #9598B1; }
    .menu-list a:hover {
      color: #a4a6bc; }

#details {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 15px;
  background: #181820;
  color: #9598B1;
  border-radius: 100px; }

#detailsCount {
  position: relative;
  top: 2px;
  display: block;
  width: 25px;
  height: 25px;
  text-align: center; }

.hide {
  display: none; }

.slider-container {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  padding: 12px 30px 42px 30px;
  background: rgba(24, 24, 32, 0.9);
  font-family: "Fira Mono", monospace; }

.slider-container-inner {
  max-width: 600px;
  margin: 0 auto;
  padding-right: 85px; }

.noUi-background {
  background: #c3c3c3; }

#slider-snap-value-lower:after {
  content: " - "; }

#slider-values-between {
  padding-bottom: 5px;
  text-align: center; }

.note-edit {
  width: 20px; }

#note-content {
  position: relative;
  z-index: 1;
  left: -10px;
  display: inline-block;
  width: 150px;
  min-height: 100px;
  max-height: 204px;
  padding: 15px;
  background: #96dbf5;
  color: #23242f;
  font-family: "fira mono", monospace;
  font-size: 12px;
  border: #16a7dc 2px solid;
  border-radius: 3px;
  overflow-y: auto; }
  #note-content:focus {
    outline: none; }

.note-edit:after, .note-edit:before {
  position: absolute;
  height: 0;
  width: 0;
  content: " ";
  pointer-events: none;
  border: solid rgba(255, 255, 255, 0); }

.note-edit:after {
  top: 14px;
  left: -13px;
  margin-left: 11px;
  border-color: rgba(255, 255, 255, 0);
  border-width: 7px;
  border-bottom-color: #16a7dc; }

.note-edit:before {
  top: -16px;
  left: 0;
  margin-left: 10px;
  border-color: rgba(255, 255, 255, 0);
  border-width: 8px;
  border-bottom-color: none; }

.fadeInDown {
  animation: fadeInDown 0.1s; }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
